@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@1,100;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "REM", sans-serif;
}

.header {
  background-color: #080708;
  color: #7765E3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header .titulo {
  margin: 0;
  font-size: 32px;
}
.header .sub-titulo {
  text-align: end;
  margin-bottom: 0;
  margin-right: 20px;
  font-size: 24px;
}

.nav-bar {
  background-color: #3B60E4;
  padding: 1rem;
}
.nav-bar .nav-lista {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-bar .menu-item a {
  color: #C8ADC0;
  transition: 300ms;
  text-decoration: none;
}
.nav-bar .menu-item a:hover {
  color: #080708;
}

body {
  background-color: #C8ADC0;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  background-color: #080708;
  color: #7765E3;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .contenedor-iconos {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer .contenedor-iconos i {
  font-size: 40px;
  margin-right: 10px;
  color: #7765E3;
  transition: 300ms;
}
.footer .contenedor-iconos i:hover {
  cursor: pointer;
  color: #EDD3C4;
}

#cuerpo-index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#cuerpo-index #index-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 1rem;
  height: 550px;
}
#cuerpo-index #index-box .titulo-index {
  font-size: 24px;
  margin: 1rem;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
#cuerpo-index #index-box #img1 {
  width: 500px;
  margin-left: 1rem;
  transition: 300ms;
}
#cuerpo-index #index-box #img1:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  width: 600px;
}
#cuerpo-index #index-box2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 1rem;
  margin-top: 35rem;
  width: 50%;
}
#cuerpo-index #index-box2 #img2 {
  width: 500px;
  transition: 300ms;
}
#cuerpo-index #index-box2 #img2:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  width: 600px;
}
#cuerpo-index #index-box2 #parrafo-box {
  font-size: 20px;
  margin: 1rem;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  text-align: center;
  width: 50%;
}

#serv-precios {
  color: #080708;
  text-align: center;
  margin-top: 1rem;
  font-size: 35px;
}

table {
  margin-top: 1rem;
}
table th, table td {
  text-align: center;
}

#consulta {
  color: #080708;
  text-align: end;
  margin-right: 25px;
  font-size: 2rem;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body #h3-subtitulo {
  margin: 1rem;
  transition: 400ms;
}
.body #h3-subtitulo:hover {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  cursor: pointer;
  font-size: 25px;
}
.body #div-imagenes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.body #div-imagenes .imagenes-body {
  width: 30%;
}
.body #div-imagenes #logo-utn {
  width: 400px;
  height: 400px;
}
.body #parrafo-nosotros {
  font-size: 20px;
  width: 40%;
  margin: 1rem;
  text-align: center;
}
.body #parrafo-nosotros #strong-utn {
  transition: 400ms;
}
.body #parrafo-nosotros #strong-utn:hover {
  color: #7765E3;
  font-size: 25px;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}/*# sourceMappingURL=main.css.map */