@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@1,100;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "REM", sans-serif;
}

.header {
  background-color: #080708;
  color: #7765E3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header .titulo {
  margin: 0;
  font-size: 32px;
}
.header .sub-titulo {
  text-align: end;
  margin-bottom: 0;
  margin-right: 20px;
  font-size: 24px;
}

.nav-bar {
  background-color: #3B60E4;
  padding: 1rem;
}
.nav-bar .nav-lista {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-bar .menu-item a {
  color: #C8ADC0;
  transition: 300ms;
  text-decoration: none;
}
.nav-bar .menu-item a:hover {
  color: #080708;
}

body {
  background-color: #C8ADC0;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  background-color: #080708;
  color: #7765E3;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .contenedor-iconos {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer .contenedor-iconos i {
  font-size: 40px;
  margin-right: 10px;
  color: #7765E3;
  transition: 300ms;
}
.footer .contenedor-iconos i:hover {
  cursor: pointer;
  color: #EDD3C4;
}

#cuerpo-index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#cuerpo-index #index-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 1rem;
  height: 550px;
}
#cuerpo-index #index-box .titulo-index {
  font-size: 24px;
  margin: 1rem;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
#cuerpo-index #index-box #img1 {
  width: 500px;
  margin-left: 1rem;
  transition: 300ms;
}
#cuerpo-index #index-box #img1:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  width: 600px;
}
#cuerpo-index #index-box2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 1rem;
  margin-top: 35rem;
  width: 50%;
}
#cuerpo-index #index-box2 #img2 {
  width: 500px;
  transition: 300ms;
}
#cuerpo-index #index-box2 #img2:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  width: 600px;
}
#cuerpo-index #index-box2 #parrafo-box {
  font-size: 20px;
  margin: 1rem;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  text-align: center;
  width: 50%;
}

#serv-precios {
  color: #080708;
  text-align: center;
  margin-top: 1rem;
  font-size: 35px;
}

table {
  margin-top: 1rem;
}
table th, table td {
  text-align: center;
}

#consulta {
  color: #080708;
  text-align: end;
  margin-right: 25px;
  font-size: 2rem;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body #h3-subtitulo {
  margin: 1rem;
  transition: 400ms;
}
.body #h3-subtitulo:hover {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  cursor: pointer;
  font-size: 25px;
}
.body #div-imagenes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.body #div-imagenes .imagenes-body {
  width: 30%;
}
.body #div-imagenes #logo-utn {
  width: 400px;
  height: 400px;
}
.body #parrafo-nosotros {
  font-size: 20px;
  width: 40%;
  margin: 1rem;
  text-align: center;
}
.body #parrafo-nosotros #strong-utn {
  transition: 400ms;
}
.body #parrafo-nosotros #strong-utn:hover {
  color: #7765E3;
  font-size: 25px;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

#cuerpo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cuerpo #faq-titulo {
  text-align: center;
  margin: 1rem;
  transition: 300ms;
}
#cuerpo #faq-titulo:hover {
  font-size: 30px;
  cursor: context-menu;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
#cuerpo #cajas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#cuerpo #cajas .caja {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  width: 40%;
  border: 2px solid black;
  border-radius: 1rem;
}
#cuerpo #cajas .caja .caja-subtitulo {
  text-align: center;
  margin-bottom: 1rem;
}
#cuerpo #cajas .caja .pr-caja {
  margin: 1.5rem;
}
#cuerpo #cajas .caja .pr-caja .pregunta {
  text-align: center;
  margin-bottom: 1rem;
}
#cuerpo #cajas .caja .pr-caja .respuesta {
  text-align: justify;
}

#cuerpoContacto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#cuerpoContacto #formulario {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 1rem;
  padding: 1rem;
  border: 3px solid #080708;
  border-radius: 5%;
  background-color: #7765E3;
  width: 600px;
  height: 400px;
  overflow: hidden;
  transition: 400ms;
}
#cuerpoContacto #formulario:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
#cuerpoContacto #formulario #h3sub-contacto {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 30px;
}
#cuerpoContacto #formulario #nombre-apellido {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#cuerpoContacto #formulario #nombre-apellido,
#cuerpoContacto #formulario #txtCorreo,
#cuerpoContacto #formulario #txtNTel,
#cuerpoContacto #formulario #textArea,
#cuerpoContacto #formulario #h3Correo {
  margin-bottom: 1rem;
}
#cuerpoContacto #formulario #txtCorreo,
#cuerpoContacto #formulario #txtNTel {
  width: 300px;
}
#cuerpoContacto #formulario #lblConsulta {
  text-align: center;
  margin-bottom: 0.5rem;
}
#cuerpoContacto #formulario #textArea {
  resize: none;
}
#cuerpoContacto #formulario #pregunta-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}
#cuerpoContacto #ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
#cuerpoContacto #ubicacion #h3Ubicacion {
  margin-bottom: 1rem;
  font-size: 25px;
}
#cuerpoContacto #ubicacion #mapa {
  transition: 400ms;
  border-radius: 5%;
}
#cuerpoContacto #ubicacion #mapa:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 500px) {
  .header,
  .nav-bar,
  .footer {
    width: 100%;
  }
  .header .titulo {
    font-size: 25px;
  }
  .header .sub-titulo {
    font-size: 22px;
    margin: 0;
  }
  .nav-bar .menu-item {
    font-size: 12px;
  }
  .footer .footer-titulo {
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  #cuerpo-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #cuerpo-index #index-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 380px;
  }
  #cuerpo-index #index-box .titulo-index {
    text-align: center;
    font-size: 20px;
  }
  #cuerpo-index #index-box #img1 {
    width: 350px;
    margin: 0;
  }
  #cuerpo-index #index-box #img1:hover {
    width: 350px;
  }
  #cuerpo-index #index-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0;
    padding: 0;
  }
  #cuerpo-index #index-box2 #img2 {
    width: 350px;
  }
  #cuerpo-index #index-box2 #img2:hover {
    width: 350px;
  }
  #cuerpo-index #index-box2 #parrafo-box {
    width: 90%;
  }
  #cuerpo #cajas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #cuerpo #cajas .caja {
    width: 90%;
  }
  #cuerpoContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #cuerpoContacto #formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
  }
  #cuerpoContacto #formulario #h3sub-contacto {
    font-size: 22px;
  }
  #cuerpoContacto #formulario #nombre-apellido {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  #cuerpoContacto #formulario #nombre-apellido #txtNombre,
  #cuerpoContacto #formulario #nombre-apellido #txtApellido {
    width: 100%;
    margin-bottom: 1rem;
  }
  #cuerpoContacto #formulario #nombre-apellido #lblNombre,
  #cuerpoContacto #formulario #nombre-apellido #lblApellido {
    text-align: start;
  }
  #cuerpoContacto #formulario #correo-div {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  #cuerpoContacto #formulario #correo-div #lblCorreo {
    text-align: start;
  }
  #cuerpoContacto #formulario #correo-div #txtCorreo {
    width: 100%;
    margin-bottom: 1rem;
  }
  #cuerpoContacto #formulario #telefono-div {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  #cuerpoContacto #formulario #telefono-div #lblTelefono {
    text-align: start;
  }
  #cuerpoContacto #formulario #telefono-div #txtNTel {
    width: 100%;
    margin-bottom: 1rem;
  }
  #cuerpoContacto #formulario #textArea {
    width: 95%;
  }
  #cuerpoContacto #formulario #pregunta-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #cuerpoContacto #formulario #pregunta-div #clickLink {
    font-size: 22px;
  }
  #cuerpoContacto #ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  #cuerpoContacto #ubicacion #mapa {
    width: 95%;
  }
  #serv-precios {
    font-size: 25px;
  }
  #consulta {
    font-size: 23px;
    text-align: center;
  }
  .body {
    display: flex;
    flex-direction: column;
  }
  .body #div-imagenes {
    display: flex;
    flex-direction: column;
  }
  .body #div-imagenes #logo-utn,
  .body #div-imagenes #servicio-desktop {
    display: none;
  }
  .body #div-imagenes #yo {
    width: 90%;
  }
  .body #parrafo-nosotros {
    width: 70%;
  }
}/*# sourceMappingURL=main.css.map */