@import "./partials/variables";
@import "./partials/mediaQuery";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/nav";
@import "./partials/body";
@import "./partials/footer";
@import "./partials/index";
@import "./partials/servicios";
@import "./partials/nosotros";
@import "./partials/faq";
@import "./partials/contacto";