@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@1,100;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'REM', sans-serif;
}

body {
    background-image: url("../img/index-fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    background-color: #080708;
    color: #7765E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header h2 {
    text-align: end;
    margin-right: 20px;
}

.nav-bar {
    list-style-type: none;
    background-color: #3B60E4;
    padding: 10px;
}

.nav-lista {
    display: flex;
    
}

.menu-item {
    display: inline-block;
    color: #C8ADC0;
    /* margin-inline: 150px; */
}

.menu-item a {
    color: #C8ADC0;
}

.titulo-section {
    font-size: 24px;
    margin: 1rem;
    text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

#img1 {
    width: 700px;
    margin-left: 1rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}


#img2 {
    width: 700px;
    margin-left: 74rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}


.parrafo-section {
    font-size: 22px;
    margin: 1rem;
    text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    margin-left: 74rem;
    text-align: center;
}

.footer {
    background-color: #080708;
    color: #7765E3;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.contenedor-iconos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contenedor-iconos i {
    font-size: 40px;
    margin-right: 10px;
    color:#7765E3;
    transition: 500ms;
}

.contenedor-iconos i:hover {
    cursor: pointer;
    color: #EDD3C4;
}