@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@1,100;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'REM', sans-serif;
}

body {
    /* background-image: url("../img/index-fondo.jpg"); */
    background-color: #C8ADC0;
    /* background-color: rgb(20, 20, 20); */
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    background-color: #080708;
    color: #7765E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header h2 {
    text-align: end;
    margin-right: 20px;
}

.nav-bar {
    background-color: #3B60E4;
    padding: 1rem;
}

.nav-lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.menu-item a {
    color: #C8ADC0;
    transition: 300ms;
}

.menu-item a:hover {
    color: #080708;
}

.titulo-section {
    font-size: 24px;
    margin: 1rem;
    text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

#img1 {
    width: 500px;
    margin-left: 1rem;
    transition: 300ms;
}

#img1:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 600px;
}

.img-box2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
    height: 100%;
}

#img2 {
    width: 500px;
    transition: 300ms;
}

#img2:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 600px;
}

.cont-parrafo {
    width: 45%;
    text-align: center;
}

.parrafo-section {
    font-size: 20px;
    margin: 1rem;
    text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    text-align: center;
}

.footer {
    background-color: #080708;
    color: #7765E3;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.contenedor-iconos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contenedor-iconos i {
    font-size: 40px;
    margin-right: 10px;
    color:#7765E3;
    transition: 300ms;
}

.contenedor-iconos i:hover {
    cursor: pointer;
    color: #EDD3C4;
}


/* NOSOTROS */

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#h3-subtitulo {
    margin: 1rem;
    transition: 400ms;
}

#h3-subtitulo:hover {
    text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    cursor: pointer;
    font-size: 25px;
}

#parrafo-nosotros {
    font-size: 20px;
    width: 30%;
    margin: 1rem;
    text-align: justify;
}

#span-utn {
    transition: 400ms;
}

#span-utn:hover {
    color: #7765E3;
    font-size: 25px;
    text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.imagenes-body {
    width: 30%;
}

.imagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}


/* FAQ */

#cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#faq-titulo {
   text-align: center;
   margin: 1rem;
   transition: 300ms;
}

#faq-titulo:hover {
    font-size: 30px;
    cursor: context-menu;
    text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

#cajas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caja {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    width: 40%;
    border: 2px solid black;
    border-radius: 1rem;
}

.caja-subtitulo {
    text-align: center;
    margin-bottom: 1rem;
}

.pr-caja {
    margin: 1.5rem;
}

.pregunta {
    text-align: center;
    margin-bottom: 1rem;
}

.respuesta {
    text-align: justify;
}

/* SERICIOS */

#serv-precios {
    color: #080708;
    text-align: center;
    margin-top: 1rem;
    font-size: 35px;
}

table {
    margin-top: 1rem;
}

th, td {
    text-align: center;
}

#consulta {
    text-align: end;
    margin-right: 25px;
    font-size: 2rem;
}

/* CONTACTO */

#cuerpoContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#h3sub-contacto {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 30px;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 1rem;
    padding: 1rem;
    border: 3px solid #080708;
    border-radius: 5%;
    background-color: #7765E3;
    width: 600px;
    height: 400px;
    overflow: hidden;
    transition: 400ms;
}

#formulario:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#nombre-apellido {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#nombre-apellido,
#txtCorreo,
#txtNTel,
#textArea,
#h3Correo
{
    margin-bottom: 1rem;
}

#txtCorreo,
#txtNTel {
    width: 300px;
}

#lblConsulta {
    text-align: center;
}

#ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

#h3Ubicacion {
    margin-bottom: 1rem;
    font-size: 25px;
}

#mapa {
    transition: 400ms;
    border-radius: 5%;
}

#mapa:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#textArea {
    resize: none;
}

#pregunta-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}