#cuerpoContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    #formulario {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 1rem;
        padding: 1rem;
        border: 3px solid #080708;
        border-radius: 5%;
        background-color: #7765E3;
        width: 600px;
        height: 400px;
        overflow: hidden;
        transition: 400ms;

        &:hover {
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        }

        #h3sub-contacto {
            text-align: center;
            margin-bottom: 1rem;
            font-size: 30px;
        }

        #nombre-apellido {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        #nombre-apellido,
        #txtCorreo,
        #txtNTel,
        #textArea,
        #h3Correo
        {
            margin-bottom: 1rem;
        }

        #txtCorreo,
        #txtNTel {
            width: 300px;
        }

        #lblConsulta {
            text-align: center;
            margin-bottom: .5rem;
        }

        #textArea {
            resize: none;
        }

        #btnEnviar {
            margin-bottom: 1rem;
            height: 4rem;
            font-size: 20px;
        }

        #pregunta-div{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #clickLink {
                font-weight: 700;
                font-size: 22px;
                text-decoration: none;
                transition: 300ms;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    #ubicacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;

        #h3Ubicacion {
            margin-bottom: 1rem;
            font-size: 30px;
        }

        #mapa {
            transition: 400ms;
            border-radius: 5%;

            &:hover {
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
            }
        }
    }
}