#cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;

    #faq-titulo {
        text-align: center;
        margin: 1rem;
        transition: 300ms;

        &:hover {
            font-size: 30px;
            cursor: context-menu;
            text-shadow: 
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
        }
    }

    #cajas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .caja {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 1rem;
            padding: 1rem;
            width: 40%;
            border: 2px solid black;
            border-radius: 1rem;

            // TODO: Ver imagen de fondo
            // background-image: url("../../img/ladrillos.jpg");
            // background-position: center;
            // background-size: 80%;

            .caja-subtitulo {
                text-align: center;
                margin-bottom: 1rem;
            }

            .pr-caja {
                margin: 1.5rem;

                .pregunta {
                    text-align: center;
                    margin-bottom: 1rem;
                }
                
                .respuesta {
                    text-align: justify;
                }
            }
        }
    }
}