.footer {
    background-color: $headerColor;
    color: $violet;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-titulo {
        font-weight: 700;
    }

    .contenedor-iconos {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        i {
            font-size: 40px;
            margin-right: 10px;
            color: $violet;
            transition: 300ms;

            &:hover {
                cursor: pointer;
                color: $white;
                -webkit-animation:rotate-center .6s ease-in-out both;
                animation:rotate-center .6s ease-in-out both;
            }
        }
    }

    @-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
}