.footer {
    background-color: $headerColor;
    color: $violet;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contenedor-iconos {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        i {
            font-size: 40px;
            margin-right: 10px;
            color: $violet;
            transition: 300ms;

            &:hover {
                cursor: pointer;
                color: $white;
            }
        }
    }
}