.header {
    background-color: $headerColor;
    color: $violet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .titulo {
        animation: $blurredRight;
        margin: 0;
        font-size: 32px;
        font-weight: 700;
    }

    .sub-titulo {
        animation: $blurredLeft;
        text-align: end;
        margin-bottom: 0;
        margin-right: 20px;
        font-size: 24px;
        font-weight: 700;
    }
}