.header {
    background-color: $headerColor;
    color: $violet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    h2 {
        text-align: end;
        margin-right: 20px;
    }
}