.header {
    background-color: $onyx;
    color: $silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .titulo {
        animation: $entradaHeader;
        animation-delay: 100ms;
        margin: 0;
        font-size: 32px;
        font-weight: 700;
    }

    .sub-titulo {
        animation: $entradaHeader;
        animation-delay: 300ms;
        text-align: end;
        margin-bottom: 0;
        margin-right: 20px;
        font-size: 24px;
        font-weight: 700;
    }
}