#cuerpo-index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .imagenes {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;

        .img-box {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin: 1rem;
            height: 550px;
            animation: $caidaElementos;
            animation-delay: 600ms;

            .titulo-index {
                font-size: 30px;
                font-weight: 700;
                margin: 1rem;
                text-align: center;
                text-shadow: 
                -1px -1px 0 white,
                1px -1px 0 white,
                -1px 1px 0 white,
                1px 1px 0 white;
            }

            #img1 {
                width: 500px;
                margin-left: 1rem;
                transition: 300ms;
    
                &:hover {
                    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
                    width: 550px;
                    border-radius: 5%;
                }
            }

            #img2 {
                width: 500px;
                transition: 300ms;
    
                &:hover {
                    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
                    width: 550px;
                    border-radius: 5%;
                }
            }

            #parrafo-box {
                font-size: 24px;
                font-weight: 400;
                margin: 1rem;
                text-shadow: 
                -1px -1px 0 white,
                1px -1px 0 white,
                -1px 1px 0 white,
                1px 1px 0 white;
                text-align: center;
                width: 90%;
            }
        }
    }

    .tarjetas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 2rem;
        overflow: hidden;

        .card {
            width: 450px;
            margin: 2rem;
            border-radius: 10px;
            overflow: hidden;
            background-color: $silver;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
            cursor: default;
            transition: all 400ms ease;
            // animation: $cardEntrada;
            // animation-delay: 800ms;

            .card-figure {
                .card-img {
                    width: 100%;
                    height: 210px;
                }
            }

            .contenido {
                padding: 1rem;
                text-align: center;

                .card-titulo {
                    font-weight: 700;
                    margin-bottom: 1rem;
                }

                .card-parrafo {
                    line-height: 1.5;
                    color: $onyx;
                }

                .card-a {
                    text-decoration: none;
                    display: inline-block;
                    padding: 10px;
                    margin-top: 1rem;
                    color: $blueMunsell;
                    border: 1px solid $blueMunsell;
                    border-radius: 5%;
                    transition: all 400ms ease;

                    &:hover {
                        background-color: $blueMunsell;
                        color: #fff;
                    }
                }
            }

            &:hover {
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
                transform: translateY(-3%);
            }
        }
    }
}