// GENERAL
@media (max-width: 400px) {
    .header,
    .nav-bar,
    .footer {
        width: 100%;
    }

    .header {
        .titulo {
            font-size: 25px;
        }

        .sub-titulo {
            font-size: 22px;
            margin: 0;
        }
    }

    .nav-bar {
        .menu-item {
            font-size: 12px;
        }
    }

    .footer {
        .footer-titulo {
            font-size: 22px;
        }
    }
}

// INDEX
@media (max-width: 400px) {
    #cuerpo-index {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #index-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 380px;
            // background-color: pink;

            .titulo-index {
                text-align: center;
                font-size: 20px;
            }

            #img1 {
                width: 350px;
                margin: 0;
            }
        }

        #index-box2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            // background-color: pink;
            margin: 0;
            padding: 0;

            #img2 {
                width: 360px;
            }

            #parrafo-box {
                width: 90%;
            }
        }
    }
}