// GENERAL
@media (max-width: 500px) {
    .header,
    .nav-bar,
    .footer {
        width: 100%;
    }

    .header {
        .titulo {
            font-size: 25px;
        }

        .sub-titulo {
            font-size: 22px;
            margin: 0;
        }
    }

    .nav-bar {
        .menu-item {
            font-size: 12px;
        }
    }

    .footer {
        .footer-titulo {
            font-size: 18px;
        }
    }
}

@media (max-width: 500px) {
    // INDEX
    #cuerpo-index {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .imagenes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 90%;

            .img-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                height: 90%;

                .titulo-index {
                    font-size: 20px;
                }

                #img1 {
                    width: 250px;
                    margin: 0;
                    margin-bottom: 1rem;

                    &:hover {
                        width: 250px;
                    }
                }

                #img2 {
                    width: 250px;
                    margin-top: 1rem;

                    &:hover {
                        width: 250px;
                    }
                }
            }
        }
        
        .tarjetas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .card {
                width: 300px;
            }
        }
    }

    // FAQ
    #cuerpo {
        #cajas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .caja {
                width: 90%;
            }
        }
    }

    // CONTACTO
    #cuerpoContacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #formulario {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 90%;

            #h3sub-contacto {
                font-size: 22px;
            }

            #nombre-apellido {
                display: flex;
                flex-direction: column;
                width: 90%;
                
                #txtNombre,
                #txtApellido {
                    width: 100%;
                    margin-bottom: 1rem;
                }

                #lblNombre,
                #lblApellido {
                    text-align: start;
                }
            }

            #correo-div {
                display: flex;
                flex-direction: column;
                width: 90%;

                #lblCorreo {
                    text-align: start;
                }

                #txtCorreo {
                    width: 100%;
                    margin-bottom: 1rem;
                }
            }

            #telefono-div {
                display: flex;
                flex-direction: column;
                width: 90%;

                #lblTelefono {
                    text-align: start;
                }

                #txtNTel {
                    width: 100%;
                    margin-bottom: 1rem;
                }
            }

            #textArea {
                width: 95%;
            }

            #pregunta-div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                #clickLink {
                    font-size: 22px;
                }
            }
        }

        #ubicacion {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            #mapa {
                width: 95%;
            }
        }
    }

    // SERVICIOS
    #serv-precios {
        font-size: 25px;
    }

    #consulta {
        font-size: 22px;
        text-align: center;
    }

    // NOSOTROS
    .body {
        display: flex;
        flex-direction: column;

        #h3-subtitulo:hover {
            font-size: 25px;
        }

        #div-imagenes {
            display: flex;
            flex-direction: column;

            #logo-utn,
            #servicio-desktop {
                display: none;
            }

            #yo {
                width: 90%;
            }
        }

        #parrafo-nosotros {
            width: 70%;
        }
    }
}