.nav-bar {
    background-color: $blue;
    padding: 1rem;

    .nav-lista {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu-item {
        a {
            color: $bgColor;
            transition: 300ms;
            text-decoration: none;

            &:hover {
                color: $headerColor;
            }
        }
    }
}