.nav-bar {
    background-color: $silver;
    padding: 1rem;

    .nav-lista {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .menu-item {
        transition: 300ms;

        &:hover {
            transform: scale(1.5);
        }
        
        a {
            color: $onyx;
            transition: 300ms;
            text-decoration: none;
            font-weight: 700;

            &:hover {
                color: $paynesGray; 
            }
        }
    }
}