.body {
    display: flex;
    flex-direction: column;
    align-items: center;

    #h3-subtitulo {
        margin: 1rem;
        transition: 400ms;
        font-size: 25px;

        &:hover {
            text-shadow: 
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
            cursor: pointer;
            font-size: 32px;
        }
    }

    #div-imagenes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .imagenes-body {
            width: 30%;
        }

        #logo-utn {
            width: 400px;
            height: 400px;
        }

        #yo {
            border-radius: 15%;
        }
    }

    #parrafo-nosotros {
        color: $white;
        font-size: 25px;
        font-weight: 400;
        width: 40%;
        margin: 1rem;
        text-align: center;

        #strong-utn {
            transition: 400ms;

            &:hover {
                color: $onyx;
                font-size: 30px;
                text-shadow: 
                -1px -1px 0 white,
                1px -1px 0 white,
                -1px 1px 0 white,
                1px 1px 0 white;
            }
        }
    }
}