#serv-precios {
    color: $headerColor;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
    font-size: 35px;
}

table {
    margin-top: 1rem;

    th, td {
        text-align: center;
    }

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#consulta {
    color: $headerColor;
    font-weight: 700;
    text-align: end;
    margin-right: 25px;
    font-size: 2rem;
}