@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Short+Stack&display=swap');

$font: 'Roboto Condensed', sans-serif;
$headerColor: #080708;
$bgColor: #1B5299;
$violet: #7765E3;
$blue: #3B60E4;
$white: #EDD3C4;
$bgCajas: RGBA(42, 45, 52, 0.8);