@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Short+Stack&display=swap');

$font: 'Roboto Condensed', sans-serif;
$headerColor: #080708;
$bgColor: #1B5299;
$violet: #7765E3;
$blue: #3B60E4;
$white: #EDD3C4;
$bgCajas: #2A2D34;


// @import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@1,100;1,500&display=swap');

// $font: 'REM', sans-serif;