@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@1,100;1,500&display=swap');

$font: 'REM', sans-serif;
$headerColor: #080708;
$bgColor: #C8ADC0;
$violet: #7765E3;
$blue: #3B60E4;
$white: #EDD3C4;